

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  padding: 6px;
  box-shadow: 0px 1px 4px -2px rgb(0, 0, 0);
  background: rgb(57, 5, 100);
  color: #ffffff;
}


.nav-logo{
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-logo img{
  height: 50px;
  width: 50px;
}
.nav-logo p{
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 600;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.nav-menu{
  display: flex;
  list-style: none;
  gap: 50px;
  align-items: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 17px;
}
.nav-menu li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  color: #ffffff;
}
.LinkA{
  color: #ffffff;
}
.nav-menu hr{
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: #ff4141;
}

.nav-login-cart img{

  height: 50px;
  width: 55px;
  
}
.nav-login-cart button{
  border:1px solid #7a7a7a ;
  height: 30px;border: none;
  width: 85px;
  outline: none;
  border-radius: 75px;
  color: #696060;
  font-size: 14px;
  font-weight: 500;
  background: rgb(252, 247, 247);
  cursor: pointer;
}
.nav-login-cart button:hover{
  color: white;
  
  background:#ff0000 ;
}


.welname{
  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}