.mainDashboard {
  display: flex;
  background: #1e1e1e;
  color: #e0e0e0;
  
}

.sider {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.1);
  height: 100vh; 
  width: 250px;
  background: #252526;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  border-radius: 20px; 
  position: fixed; 
  top: 0;
  left: 0;  
}

.Dashboard-content {  
  width: calc(100% - 250px); 
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  gap: 50px;
}

.navbarD {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.1);
  background: #252526;
  display: flex;
  flex-direction: row;
  height: 50px;
  position: fixed;
  top: 0;  
  margin-top: 5px;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  left: 252px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-container {
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: transparent;
  display: flex;
  gap: 5px;
  
}
.welcome{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.1);
  width: 99.8%; 
  background: #252526;
  height: 200px;
  margin-left: 252px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
     
}

.a{
  display: flex;
  flex-direction: column;  
  align-items: start;
  gap: 50px;
}
.h2{
  margin-left: 15px;
}
.userphoto{
  display: flex;
  align-items: center;
}
.userphoto img{
  width: 100px;
  height: 100px;
}
.userphoto{
  font-size: 24px;
}
.search-input {
  width: 100%;
  padding: 5px 70px 5px 5px;
  border: 2px solid transparent; 
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
  color: #e0e0e0;
  outline: none; 
}

.search-input:focus {  
  border-color: rgb(0, 0, 100);
  
}


.search-icon {
  width: 20px;
  height: 20px;
   
}

.option {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  color: #e0e0e0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s ease;
  width: 100%;
}
.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.link img {
  margin-right: 12px;
}
.option img {
  width: 25px;
  height: 25px;
}

.option:hover {
  background: #47b6ff;
}

.dropdown-content {
  display: none;  
  left: 100%;
  top: 0;
  background-color: #3e3e42;
  min-width: 180px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.dropdown-content p {
  color: #ffffff;
  font-size: 16px;
  margin: 0;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown-content p:hover {
  background-color: 	#007acc;
}

.option:hover .dropdown-content {
  display: block;
}

.username p {
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 0px; 
}
.DTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.DTitle p{
  font-weight: 750;
  font-size: 18px;
  
}
.h1{
  color: #69aff5;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 800;
  font-size: 28px;
}
.username {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  gap: 12px;
}

.username img {
  height: 40px;
  width: 40px;
  object-fit: cover; 
}
.Feature{
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  margin-left: 250px;
}
.count1{  
  display: flex;  
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 250px;
  gap: 40px;
}
.f{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  padding: 5px;
  background: 	#2d2d30;
  width: 240px;
  height: 210px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.graph{
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  margin-left: 250px;
  margin-bottom: 200px;
}

.DFooter{  
  bottom: 0;
  position: fixed;
  width: 100%;  
  height: 25px;  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(8, 8, 8);
  color: #fff;
  font-size: 14px;  
  flex: 1;
}

.footer-right a,
.footer-left a {
  color: #1e90ff;
  text-decoration: none;
}

.footer-right a:hover,
.footer-left a:hover {
  text-decoration: underline;
} 




















